<div id="footer" class="row text-center">
  <p><small>Hosted on GitHub Pages </small></p>
  <p>
    <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fkrlsdu.github.io%2F;verbose=1"><img
      src="images/valid-html401.png"
      alt="Valid HTML 1.0!" height="31" width="88" /></a>
  </p>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/fontawesome/css/font-awesome.min.css">
</div>
