<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="86400">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Find Software Developer | Freelancer Embedded, Mobile App, Desktop Application Brazil</title>
    <meta name="google-site-verification" content="EkFD7unK2rObF4Cvz6bysOdvpD0cy6Pi-9nT0i473fc" />
    <meta name="description" content="Looking for an expert to develop your application in Brazil? Contact to KrLsdu professional web,
    desktop, embedded mobile application developer or Software development specialist Brazil." />

    <meta name="keywords" content="Mobile App Development, Desktop Application, Web Application, Software Developer,
    Embedded, Mobile App Developer Brazil, Web Development Expert" />

    <link rel="canonical" href="http://krlsdu.github.io" />
    <link rel="alternate" href="http://krlsdu.github.io" hreflang="en" />

    <link rel="icon" href="https://freepngimg.com/download/temp/5-2-chibi-free-png-image_16x16.ico" type="image/png" sizes="16x16">

    <meta name="viewport" content="width=device-width, initial-scale=2.0, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>